.recipes{
    margin-bottom: 30px;
    &__category{
        display: flex;
        align-items: flex-start;
        margin: 4% 3%;
    }
    &__button{
        margin: auto;
        .vkuiButton__in{
            padding: 10px 16px;
            color: #F05C44;
        }
    }
    &__cards{
        margin: 0 auto;
    }
}
.NotFound{
    display: block;
    width: 100%;
}