.recipes{
    margin-bottom: 30px;
    &__category{
        display: flex;
        align-items: center;
        margin: 2% 3% 4%;
    }
    &__button{
        margin: auto;
        .vkuiButton__in{
            padding: 10px 16px;
            color: #F05C44;
        }
    }
    &__cards{
        margin: 0 auto;
    }
}

.vkuiGroup--plain, .vkuiSearch, .vkuiSearch--android{
    padding: 0 !important;
    padding-inline: 16px !important;
}

.NotFound{
    display: block;
    width: 100%;
}