.Group{
    height: 100%;
    margin-bottom: 30px;
    &__Header{
        font-weight: bold;
        margin: 0 12% 25px;
        padding-top: 5vh;
        font-size: 28px;
    }
}

.home{
    &__descr{
        text-align: center;
    }
}

