.Group{
    height: 100%;
    margin-bottom: 30px;
    &__Header{
        font-weight: bold;
        margin: 0 12% 25px;
        padding-top: 5vh;
        font-size: 28px;
    }
}

.home{
    &__phrase{
        text-align: center;
        max-width: 60%;
        margin: 3% auto 0;
        &_descr{
            padding-top: 10px;
            font-size: 17px;
        }
    }
}

