.liked{
    &__none{
        height: 86.1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        &_descr{
            text-align: center;
            font-size: 22px;
            line-height: 28px;
            max-width: 65%;
            margin: 4vh auto;
        }
        &-image{
            display: block;
            max-width: 60%;
        }
    }
}